body {
    background-color: #f8f9fa;
}

.card {
    margin-bottom: 20px;
}

.dropdown-item:hover {
    background-color: #f8f9fa;
}

.dropdown-menu {
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}
