@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');

* {
  font-family: "Poppins", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  text-decoration: none;
  border: none;
  
  transition: .2s linear;
}

:root {
  --cor-1: #737373;
  --cor-2: #D9D9D9;
  --cor-3: #F5EB3B;
  --cor-4: #7B96D4;
  --cor-5: #002960;
}

html {
  font-size: 62.5%;
  overflow-x: hidden;
  scroll-behavior: smooth;
}

section {
  padding: 3rem 7%;
}

.titulo{
  font-size: 2.5rem;
  color: #130f40;
  padding: 1.2rem 0;
  text-align: center;
  border-bottom: 1rem solid rgba(0, 0, 0, 0.1);
}

.titulo span{
  color: var(--cor-3)
}

.vuv {
  width: 60px;
  height: 60px;
}

.corrigir {
  width: 80px;
  height: 80px;
}

.btn {
  display: inline-block;
  font-size: 1.7rem;
  color: red;
  background: none;
  margin-top: 1rem;
  padding: 2rem 3rem;
  border: 1px solid rgb(27, 65, 189);
  border-radius:  .5rem;
  cursor: pointer;
}

.btn:hover {
  background: rgb(13, 13, 183);
  color: white;
}

.topo-site {
  display: flex;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  align-items: center;
  justify-content: space-between;
  padding: 2rem 9%;
  z-index: 1000;
  background: var(--cor-5);
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
}

.topo-site .logo {
  font-size: 20px;
  color: white;
  font-weight: bolder;
}

.topo-site .logo i {
  color: yellow;
  padding-right: 0.5rem;
  transform: rotate(175deg);
}

.topo-site .menu-site a {
  color: white;
  font-size: 20px;
  margin: 0 1rem;
}

.topo-site .menu-site a:hover {
  color: yellow;
}

.topo-site .icons div {
  color: white;
  font-size: 2.5rem;
  margin-left: 1.7rem;
  cursor: pointer;
}

.topo-site .icons div:hover {
  color: yellow;
}

#menu {
  display: none;
}

.topo-site .login-form {
  position: absolute;
  top: 115%;
  right: -105%;
  background: white;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
  border-radius: .5rem;
  width: 30rem;
  padding: 1rem;
}

.topo-site .login-form.active {
  right: 2rem;
  transition: .4s linear;
}

.topo-site .login-form h3 {
  font-size: 2.2rem;
  color: #130f40;
  
  margin-bottom: 7rem;
  text-align: center;
}

.topo-site .login-form .box {
  margin: 0.7rem 0;
  padding: 1rem 1.2rem;
  border: 1px solid rgba(0, 0, 0, 0.1);
  width: 100%;
  text-transform: none;
  color: #130f40;
}

.topo-site .login-form .lembrar-senha {
  display: flex;
  align-items: center;
  gap: .5rem;
  margin: .7rem 0;
}

.topo-site .login-form .lembrar-senha label {
  font-size: 1.5rem;
  color: #777;
  cursor: pointer;
}

.topo-site .login-form .btn {
  width: 100%;
  text-align: center;
  margin: 1rem 0;
}

.vuv-destaque {
  padding: 0;
}

.vuv-destaque .slide {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  background-size: cover !important;
  background-position: center !important;
}

.vuv-destaque .slide .content {
  display: none;
  width: 60rem;
  text-align: center;
}

.vuv-destaque .slide .content h3 {
  font-size: 3rem;
  line-height: 1.3;
  color: black;
  padding: 2rem 0;
  animation: sliderauto 1s ease forwards;
}

.vuv-destaque .slide .content span {
  color: yellow;
}

.vuv-destaque .slide .content .btn {
  background-color: var(--cor-5);
  color: white;
}

.vuv-destaque .slide .content .btn:hover {
  background-color: rgb(40, 33, 139);
  color: #d6dd10;
  border: none;
  animation: sliderReveal 1s ease forwards;
}

.vuv-destaque .swiper-slide-active .content {
  display: inline-block;
}

.vuv-destaque .swiper-slide-active {
  animation: vuvScale 4s linear forwards;
}

@keyframes sliderauto {
  0% {
    transform: translateY(30px);
    opacity: 0;
  }

  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes vuvScale {
  0% {
    transform: scale(1);
  }

  100% {
    transform: scale(1.15);
  }
}

.swiper-button-prev,
.swiper-button-next {
  height: 4.5rem;
  width: 4.5rem;
  line-height: 4.5rem;
  margin-left: 1.5rem;
  color: rgb(76, 74, 74);
  border: .1rem solid rgb(17, 8, 8);
  transform: translateY(-50%) rotate(45deg);
}

.swiper-button-prev::after,
.swiper-button-next::after {
  font-size: 1.5rem;
  transform: rotate(-45deg);
}

.swiper-button-prev:hover,
.swiper-button-next:hover {
  color: white;
  background-color: rgb(47, 0, 255);
}

.destaque .box-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
  gap: 2rem;
}

.destaque .box-container .box {
  position: relative;
  overflow: hidden;
  text-align: center;
  background: var(--cor-3);
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
}

.destaque .box-container .box .vuvimg{
  width: 100%;
}

.destaque .box-container .box .vuvimg img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.destaque .box-container .box .content {
 padding: 2rem;
}

.destaque .box-container .box .content h3{
  font-size: 2.5rem;
  color: white;
  margin-bottom: 1rem;
}


.como-funciona .box-container{
  display: flex;
  flex-wrap: wrap;
  gap: 1.5rem;
}

.como-funciona .box-container .box{
  flex: 1 1 25rem;
  text-align: center;
  padding: 1rem;
}

.como-funciona .box-container .box img{
  width: 170px;
  border: 1rem solid white;
  border-radius: 50%;
  box-shadow: 0 .5rem 1rem rgba(0, 0, 0, 0.1);
}

.como-funciona .box-container .box h3{
  font-size: 2.1rem;
  color: #130f40;
  padding: 1rem;
}

.empresa{
  background-color: var(--cor-5);
}

.empresa .row{
  display: flex;
  flex-wrap: wrap;
  gap: 4rem;
  background: var(--cor-5);
  align-items: center;
}

.empresa .row .empresa-img{
  flex: 1 1 32rem;

}

.empresa .row .empresa-img img{
  width: 100%;
  box-shadow: 0 5rem 1rem rgba(0, 0, 0, 0.1);
}

.empresa .row .content{
  flex: 1 1 50rem;
}

.empresa .row .content h3{
  font-size: 3.5rem;
  color: white;
}

.empresa .row .content h3 span{
  color: var(--cor-3);
}

.empresa .row .content p{
  font-size: 1.5rem;
  color: white;
  padding: 2rem 0;
  line-height: 2;
}

.empresa .btn{
  color: white;
  border: 1px solid white;
}

.empresa .btn:hover{
  background-color: var(--cor-3);
  color: #130f40;
  border: 1px solid white;
}



.atualizacoes .box-container{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
  gap: 4rem;
}

.atualizacoes .box-container .box{
  text-align: center;
  padding: 1.5rem;
  border-radius: .5rem;
  box-shadow: 0.5rem 1rem rgba(0, 0, 0, 0.1);
}

.atualizacoes .box-container .box img{
  width: 100%;
  height: 15rem;
  border-radius: .5rem;
  object-fit: cover;
}


.atualizacoes .box-container .box .icons{
  display: inline-block;
  top: -2rem;
  background: var(--cor-5);
  padding: 1rem;
  border-radius: .5rem;
  position: relative;
}

.atualizacoes .box-container .box .icons a{
  color: white;
  font-size: 1.4rem;
  margin: 0 1rem;
}


.atualizacoes .box-container .box .icons a:hover{
  color: var(--cor-3);
}

.atualizacoes .box-container .box .icons a i{
  color: white;
  padding-right: .5rem;
}

.atualizacoes .box-container .box h3{
  font-size: 2rem;
  color: #130f40;
}

.atualizacoes .box-container .box p{
  color: #777;
  font-size: 1.4rem;
  padding: 1rem 0;
  line-height: 2;

}

.footer{
  background-color: var(--cor-5);
  text-align: center;
}

.footer .box-container{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
  gap: 2rem;
}

.footer .box-container .box h3{
  font-size: 2.2rem;
  text-transform: capitalize;
  color: white;
  padding: 1rem 0;
}


.footer .box-container .box p{
  font-size: 1.5rem;
  color: white;
  padding: 1rem 0;
  line-height: 1;
}

.footer .box-container .box .rede-sociais{
  margin-top:1rem ;

}

.footer .box-container .box .rede-sociais a{
  color: white;
  border-radius: 10%;
  border: .1px solid white;
  height: 4.5rem;
  width: 4.5rem;
  text-align: center;
  line-height: 4.5rem;
  font-size: 1.8rem;
  margin-right: .3rem;
}

.footer .box-container .box .rede-sociais a:hover{
  background-color: var(--cor-3);
  color: var(--cor-1);
}

.direitos{
  text-align: center;
  color: white;
  font-size: 2rem;
  margin-top: 3rem;
  padding-top: 3rem;
  text-transform: capitalize;
}























@media (max-width: 991px) {
  html {
    font-size: 55%;
  }

  section {
    padding: 3rem;
  }

  .topo-site {
    padding: 2rem;
  }
}



@media (max-width: 768px) {
  .topo-site .icons #menu {
    display: inline-block;
  }

  .topo-site .menu-site {
    position: absolute;
    top: 110%;
    right: 110%;
    width: 30rem;
    background-color: white;
    border-radius: 0.5rem;
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
  }

  .topo-site .menu-site.active {
    right: 2rem;
    transition: 0.4s linear;
  }

  .topo-site .menu-site a {
    font-size: 2rem;
    margin: 1rem 2.5rem;
  }

  .vuv-destaque .slide .content h3 {
    font-size: 3rem;
  }

  .topo-site .menu-site a {
    color: black;
    border-bottom: 1px solid black;
    border-bottom-style: dotted;
  }
}



@media (max-width: 450px) {
  html {
    font-size: 50%;
  }

  .vuv-destaque .slide .content h3 {
    font-size: 3.5rem;
  }

  .topo-site .menu-site a {
    color: black;
    border-bottom: 1px solid black;
    border-bottom-style: dotted;
  }
}