body {
    background-color: #0B59CF;
    color: white;
  }
  .center {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
  }
  .btn-custom {
    background-color: black;
    color: white;
  }