.vuv {
    width: 60px;
    height: 60px;
  }
  
.form-section {
  background-color: #f8f9fa;
  padding: 20px;
  border-radius: 8px;
  margin-bottom: 20px;
}
.form-title {
  margin-top: 50px;
  margin-bottom: 20px;
}
.input-container {
  margin-bottom: 15px;
}
.input-container label {
  font-weight: bold;
}
.input-container input,
.input-container select,
.input-container textarea {
  max-width: 100%;
}
.section-header {
  margin-top: 40px;
  margin-bottom: 20px;
  font-size: 1.5rem;
  font-weight: bold;
  color: #495057;
}
.btn-primary, .btn-success {
  width: 100%;
  max-width: 200px;
}
.btn-primary {
  margin-top: 10px;
}
.table th, .table td {
  vertical-align: middle;
}

.quotation-card {
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.quotation-header {
  background-color: #007bff; /* Cor de fundo do cabeçalho */
  color: #fff; /* Cor do texto do cabeçalho */
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.card-footer {
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  padding: 10px;
  font-weight: bold;
}

.status-open {
  background-color: #28a745; /* Cor de fundo para status "open" */
  color: #fff; /* Cor do texto para status "open" */
}

.status-closed {
  background-color: #dc3545; /* Cor de fundo para status "closed" */
  color: #fff; /* Cor do texto para status "closed" */
}
